<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Better Boulder Buses</title>
        <link rel="stylesheet" href="../../resources/css/style.css" />
        <link rel="stylesheet" href="../../resources/css/globals.css" />
        <link rel="stylesheet" href="../../resources/css/styleguide.css" />
    </head>
    <body>
        {{!-- {{> header}} --}}
        {{{body}}}
        {{> footer}}
        <script src="../../resources/js/script.js"></script>
    </body>

</html>


