@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

:root {
  --font-primary: "Outfit", sans-serif;
  --font-sidebar: "Momo Trust Display", sans-serif;
}

html,
body {
  font-family: var(--font-primary);
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
/* button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
} */
a {
  text-decoration: none;
}

.sidebar {
  font-family: var(--font-sidebar);
}

  .form-control:focus {
    border-color: 1px solid var(--cu-gold) !important;
    box-shadow: 0 0 0 1px rgb(207, 184, 124) !important;
    outline: none !important;
  }