/* COLORS */
:root {
  --white: #fff;
  --main-color: #29C7D2;
  --sub-color: #253FE1;
  --color-bg: #253FE1;
  --color-sidebar: #fff;
  --color-toggle: #253FE1;
  --width-sidebar: 15em;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
}

.sidebar-toggle {
  position: fixed;
  z-index: 1000;
  border: 4px solid var(--white);
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: calc(var(--width-sidebar) + 3.8em);
  margin-top: 1em;
  background-color: var(--color-toggle);
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.5s;
}

.sidebar-toggle.is-closed {
  transform: translateX(0.3em) rotate(0deg);
  position: fixed;
  z-index: 1000;
}

.sidebar-toggle .icon {
  font-size: 1.5rem;
  color: var(--white);
}

.sidebar {
  width: var(--width-sidebar);
  height: 100vh;
  background-color: var(--color-sidebar);
  transition: 0.7s;
}

.sidebar.is-closed {
  transform: translateX(-16em);
}
