/* COLORS */
:root {
  --white: #fff;
  --main-color: #ffffff;
  --sub-color: #ffffff;
  --color-bg: #ffffff;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
}

.site-header {
  font-size: 3rem;
  color:black;
  font-weight: 600;
}

.site-footer {
  margin-top: auto;
  padding: 1rem;
}