<h2> BetterBoulderBusses Login </h2>
<form action="/login" method = "POST">
    <label for = "username"> Username </label>
    <input type = "text" name = "username" id = "username" />

    <label for = "password"> Username </label>
    <input type = "password" name = "password" id = "password" />

    <input type = "submit" value = "login!" />

</form>

<a href = "/register"> Don't have an account? Register! </a>

{{>message}}