<div class="d-flex min-vh-100">
    {{> settings/sidebar activeTab=activeTab userData=userData }}

    <main class="flex-grow-1 p-4 bg-light">
        <div class="container py-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{#if (eq activeTab "profile")}}
                    {{> settings/profile userData=userData }}
                    {{/if}}

                    {{#if (eq activeTab "notifications")}}
                    {{> settings/notifications userData=userData }}
                    {{/if}}

                    {{#if (eq activeTab "security")}}
                    {{> settings/security }}
                    {{/if}}

                    {{#if (eq activeTab "preferences")}}
                    {{> settings/preferences userData=userData }}
                    {{/if}}

                    {{#if (eq activeTab "help")}}
                    {{> settings/help }}
                    {{/if}}
                </div>
            </div>
        </div>
    </main>
</div>